@model WebLearn.Models.Cadastro

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-light">Cadastro de Pessoas</h1>

<h4 class="text-light">Entre com seu Nome e Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="bg-black p-4 border-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label text-light"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label text-light"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark bg-dark" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
