@model WebLearn.Models.Cadastro

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Detalhes</h1>

<div>
    <h4 class="text-light">Cadastro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-danger">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
